{% extends 'base.html.twig' %}

{% block title %}
	Change Password
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 m-auto">
				{{ form_start(form) }}
                	<h1 class="text-center h3">{{ app_name }} <br> Change Password</h1>

				    {{ form_row(form.currentPassword) }}
				    {{ form_row(form.newPassword) }}

			        <button type="submit" class="btn btn-primary form-control">Update Password</button>
				{{ form_end(form) }}
			</div>
		</div>
	</div>
{% endblock %}