{% extends 'base.html.twig' %}

{% block title %}
    Login {{ app_name }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 m-auto">
                <h1 class="text-center h3">Login <br> {{ app_name }}</h1>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <form method="post">
                    <div class="form-group">
                        <label for="inputEmail">Email :</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Your e-mail" class="form-control" autocomplete="email" required autofocus>
                    </div>

                    <div class="form-group">
                        <label for="inputPassword">Password :</label>
                        <input type="password" placeholder="Your password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" checked name="_remember_me"> Remember me
                        </label>
                    </div>

                    <button class="btn btn-primary form-control" type="submit">Login</button>
                </form>

                <div class="text-center">
                    Don't have account ? <a href="{{ path('app_register') }}">Register.</a><br>
                    New in {{ app_name }} ? <a href="#">Learn more.</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
